$HoverBg: #003d8b26;
$RadiationText: #171B5C;
$arrow_color: #C2C2C2;
$tablinks_color: #0051B8;
$tab_content_color: #5B5B5B;
$pdf_heading: #21428A;
$dots_color: #CDD0D9;
$sort_downdown: #68686A;

// fontsizes 
.f20 {
    font-size: 20px!important;
}
.f18 {
    font-size: 18px!important;
}
.f16 {
    font-size: 16px!important;
}
.f14 {
    font-size: 14px!important;
}
.f12 {
    font-size: 12px!important;
}


.inner_part_number{
    &.result_main_wrap {
        display: flex;
        margin-top: 45px;
        .pn_data_element {
            margin-left: 45px;
        }
        .acc_heading {
            margin-left: 0;
            position: static;
            padding: 0 0 35px;
            .acc_head {
                padding-left: 0;
                margin-bottom: 5px;
                .acc_content_head_wrap {
                    font-weight: 600;
                    text-decoration: none!important;
                    color: #000!important;
                }
                .radiation_test_detail {
                    margin-left: 10px;
                    color: $RadiationText;
                    text-decoration: underline;
                }
            }
        }
        .latest_viewed {
            position: relative;
            letter-spacing: 1px;
            i.fas.fa-caret-down {
                margin-left: 9px;
                color: $arrow_color;
            }
            i.fas.fa-reply-all {
                transform: scaleX(-1);
                margin-right: 5px;
            }
            .latest_view_dropdown {
                position: absolute;
                background: #fff;
                box-shadow: 0.72px 0.72px 5px #00000080;
                display: none;
                right: 0;                
                a {
                    padding: 8px 10px;
                    color: #565656;
                    &:hover {
                        background: $HoverBg;
                    }
                }
            }
            &:hover .latest_view_dropdown {
                display: grid;
            }
            .latest_view_drop_path {
                position: absolute;
                display: none;
                width: 160px;
                height: 99px;
            }
            &:hover .latest_view_drop_path {
                display: block;
            }
        }
    }
}

.result_main_wrap {
    .more_review_info.no_of_reviews {
        &:after {
            content: "";
            background: #707070;
            padding: 0.5px;
            margin-left: 11px;
        }
    }
    .more_review_info.latest_viewed {
        margin-left: 12px;
    }
}

.partnumber_data {
    display: flex;
    .pn_details_wrap {
        width: 46.5%;
    }    
    .pn_details {
        display: flex;
        margin-bottom: 14px;
        .pn_title {
            width: 125px;
            color: #666666;
            font-weight: 500;
            &.pn_details_title {
                width: 50%;
            }
        }
        .pn_content {
            width: 75%;
            margin-right: 15px;
            color: #666666;
        }
    }
    .pn_details_right {
        &.pn_details_wrap {
            padding-left: 45px;
            position: relative;
            &:before {
                height: 100%;
                content: "";
                background: #707070;
                padding: 0.5px;
                position: absolute;
                left: 0;
            }
        }
    }
}

.radiation_details {
    margin: 68px 26px;
    .radiation_tabs {
        .tablinks {
            background: transparent;
            border: 0;
            color: $tablinks_color;
            margin-right: 60px;
            &.active {
                &:after {
                    content: "";
                    padding: 1.5px;
                    background: $tablinks_color;
                    display: block;
                }
            }
        }
        &:after {
            content: "";
            padding: 1.5px;
            background: #F3F4F8;
            display: block;
        }
    }
}


.detail_option {
    display: flex;
    margin-top: 18px;
    .detail_filter {
        display: flex;
        align-items: center;
        padding-right: 38px;
        padding-bottom: 7px;
        position: relative;
        &.sorting_date {
            .drop_expand_menu {
                width: fit-content;
                padding: 0;
                height: 55px;
            }
        }
        &:hover .drop_expand_menu {
            display: block;
        }
        .drop_expand_menu {
            display: none;
            right: auto;
            left: 0;
            top: 23px;
        }
        img {
            height: 12px;
        }
        .filter_element {
            padding-left: 5px;
            color: #17185A;
            i.fas.fa-caret-down {
                padding-left: 5px;
                color: $arrow_color;
            }
            .sort_drop_elem {
                color: $sort_downdown;
                padding: 4px 15px;
                &.active {
                    background: $HoverBg;
                    &:before {
                        background-image: url(../Images/tickmark.svg);
                    }
                }
                &:before {
                    content: "";
                    padding: 8px;
                    margin: 0px 12px 0px 0;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}


.tab_id_tabcontent {
    color: $tab_content_color;
    
    .page_details_wrap {
        padding-top: 28px;
        margin-top: 17px;
        color: #333333DE;
        .details_heading {
            margin-bottom: 15px;
            font-weight: 600;
        }
        .tab_details_element {
            margin-bottom: 20px;
            width: 33%;
            .tab_details_heading {
                font-weight: 500;
                color: #333333DE;
            }
        }
        .details_content {
            display: flex;
            flex-flow: wrap;
            width: 26%;
        }
    }

    // radiation test 
    img {
        width: 16px;
    }
    .tab_content_main_wrap {
        &:after {
            content: "";
            display: block;
            background: $dots_color;
            padding: 0.5px;
            width: 39%;
            margin-left: 115px;
        }
        &:last-child{
            &:after {
                display: none;
            }
        }
    }
    .tab_content_wrap {
        display: flex;
        padding: 11px 0 22px;
        .tab_heading_content {
            display: flex;
            align-items: center;
        }
        .display_date {
            padding: 0 7px;
            margin-right: 30px;
        }
        .light_title {
            span {
                font-weight: 700;
            }
        }
        .dot{
            &:after {
                content: "";
                margin: 0 16px 0 9px;
                line-height: 0;
                background: $dots_color;
                padding: 4px;
                height: 3px;
                width: 3px;
                font-size: 0px;
                border-radius: 15px;
                position: relative;
                top: -6px;
            }
        }
        .file_name {
            color: $pdf_heading;
            img {
                margin-right: 8px;
            }
        }
        .tickmark {
            img {
                margin-right: 6px;
            }
        }
        .tab_discription {
            margin-top: 10px;
            width: 46.6%;
        }
    }
}


// Range Slider

:root {
    --clr-prim:#1B984D;
    --clr-prim-h:#178242;
    --clr-bad:#D91E18;
    --clr-box:#F9F9F9;
    --clr-box-dark:#f2f2f2;
    --clr-border:#D9D9D9;
    --txt-clr:#333333;
    --shadow:0px 3px 6px 0px rgba(0,0,0,0.1);
    --cubic:cubic-bezier(0.11, 0.54, 0.33, 1.01);
}

.dual-range {
	--range-size:2px;
	--range-width:150px;
	--handle-size:1.3;
	height:var(--range-size);
	width:var(--range-width);
	background:var(--clr-box-dark);
	border-radius:50px;
	position:relative;
    top: 30px;
    left: 17px;
	user-select:none;
	.highlight {
		position:absolute;
		height:var(--range-size);
		width:calc(calc(var(--x-2) - var(--x-1)) + calc(var(--range-size) * var(--handle-size)));
		left:var(--x-1);
		background:#21428A;
		z-index:1;
		border-radius:50px;
	}
	
	.handle {
		width:calc(var(--range-size) * 7);
		height:calc(var(--range-size) * 7);
		background:#21428A;
		position:absolute;
		border-radius:50%;
		top:50%;
		transform:translateY(-50%);
		z-index:2;
		cursor:grab;
		&:active {
			cursor:grabbing;
		}
		
		&.left {
			left:var(--x-1);
		}
		
		&.right {
			left:var(--x-2);
            &:after {
                top: -20px;
            }
		}
		
		&::after {
			content:attr(data-value)'MeV';
			position:absolute;
			top:100%;
			left:50%;
			transform:translateX(-50%);
		}
	}
}



// custom 


.filter_range_slider {
    &.drop_expand_menu {
        display: block!important;
        visibility: hidden;
        width: 200px !important;
    }
}
.detail_filter {
    &:hover {
        .filter_range_slider {
            &.drop_expand_menu {
                visibility: visible;
                height: 86px;
            }   
        }
    }
}

.fixed_mev {
    &:after {
        content: "1TeV";
        top: 8px;
        left: 120px;
        position: absolute;
    }
}

@media (max-width: 1440px) {
    .partnumber_data {
        .pn_details {
            .pn_title{
                &.pn_details_title {
                    width: 84%;
                }
            }
        }
    }
    .tab_id_tabcontent {
        .page_details_wrap {
            .details_content {
                display: flex;
                flex-flow: wrap;
                width: 38%;
            }
        }
    }
}

@media (max-width: 1024px) {
    .tab_id_tabcontent {
        .page_details_wrap {
            .details_content {
                display: flex;
                flex-flow: wrap;
                width: 50%;
            }
        }
    }
}