@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$primarybg: #003D8B;
$secondarybg: #F4F4F4;
$borderprimarybg: #CACACA;
$primarycolor: #666666;
$secondarycolor: #9A9A9A;
$secondarylightcolor: #C2C2C2;
$secondarylinkcolor: #295B97;
$primary_button: #21428A;
$profilecolor: #CDD0D9;
$resultscolor: #565656;
$linecolor: #707070;
$resultdataHeading: #17185A;
$dropdowntext: #68686A;
$arrow_color: #5B5B5B;
$accordionheadingcolor: #171B5C;
$ratingcolor: #FFE622;
$ratingbordercolor: #DEC60A;
$noratingcolor: #D9D9D9;
$accordionborder: #F1F2F6;
$accordion_content: #F1F2F6;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body {
    font-family: Roboto;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}

// Header

header {
    background: $primarybg;
    .container {
        display: flex;
        align-items: center;
        padding:17px 18px 14px;
    }
}

.logo {
    padding: 0 50px 0 25px;
    position: relative;
    & img {
        width: 112px
    }
    &::after {
        content: "";
        background: #fff;
        padding-left: 1px;
        position: absolute;
        right: 0;
        height: 100%;
    }
}

.dropdown_elem {
    z-index: 999;
}
.search_area {
    margin-left: 130px;
    .form_elem {
        display: flex;        
        width: 870px;
        position: relative;
        border: 1px solid $borderprimarybg;
        border-radius: 4px;
        background: #fff;
        .search_select {
            position: relative; 
            font-size: 16px;
            padding: 12px 37px 12px 19px;
            background: $secondarybg;
            border-radius: 4px;
            border: 1px solid $borderprimarybg;
            color: $primarycolor;
            i.fas {
                position: absolute;
                right: 7px;
                top: 50%;
                transform: translateY(-50%);
            }
            &:hover .dropdown_elem {
                display: flex;
            }
        }
        input {
            width: 700px;
            padding: 11.5px 37px 11.5px 19px;
            border: 0;
            outline: none;
            font-size: 18px;
            font-weight: 300;
            font-family: 'Roboto';
        }
        #search {
            background: transparent;
            border: 0;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            i.fas {
                font-size: 25px;
                color: $secondarycolor;
            }
        }
    }
}


nav.navbar {
    width: 100%;
    margin-right: 27.5px;
    ul {
        display: flex;
        width: 100%;
        justify-content: right;
        align-items: center;
        height: 100%;        
        li {
            margin-left: 32px;
            a {
                color: #fff;
                font-size: 20px;
                font-weight: 300;
            }
        }
    }
}
.profile_element {
    padding-left: 32.5px;
    position: relative;
    &::before {
        content: "";
        background: #fff;
        padding-left: 1px;
        position: absolute;
        left: 0;
        height: 100%;
    }
    .profile_image {
        width: 100%;
        text-align: center;
        img {
            width: 30px;
        }
    }
    .profile_name {
        font-size: 12px;
        width: max-content;
        text-align: center;
        color: $profilecolor;
    }
}


// main section 

main {
    margin: 26px;
}
.breadcrum_wrap {
    display: flex;
    li {
        margin: 0 24px 0 19px;
        position: relative;
        &:hover .dropdown_elem{
            display: block;
        }
        &:first-child {
            margin-left: 0;
        }
    }
    a {
        color: $secondarylinkcolor;
        text-decoration: underline;
        font-size: 20px;
    }
    i {
        color: $secondarylightcolor; 
        padding-left: 9px;
    }        
}
.dropdown_wrap {
    .dropdown_elem {
        left: -3px;
        .dropdown {
            width: auto;
            left: 0;
            .tablinks {
                padding: 12px 40px 12px 28px;
                text-align: left;
            }
            .tabcontent {
                overflow-y: auto;
                flex-flow: nowrap;
            }
        }
    }
}
.dropdown_elem {
    position: absolute;
    display: none;
    width: 900px;
    height: 530px;
    z-index: 9999;
    .dropdown {
        background: white;
        box-shadow: 0 0 8px #00000024;
        position: absolute;
        width: 900px;
        left: 90px;
        top: 10px;
        height: 450px;
        display: flex;
        li {
            margin: 16px 71.5px 16px 33.5px;
        }
        a {
            position: relative;
            color: #000;
            text-decoration: none;            
        }
        .inner_dropdown {
            position: absolute;
            left: 100%;
        }
    }
}



// tab 
.tab {
    width: 250px;
    overflow-x: hidden;
    overflow-y: scroll !important;
    padding: 4px 0;
    .tablinks {
        width: 100%;
        background: transparent;
        border: 0;
        padding: 12px 71.5px 12px 33.5px;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Roboto';
        &.main_wrap {
            background: #BDCDE1;
        }
        &.active {
            background: #BDCDE1;
        }
    }
}

.menu_wrap {
    ul {
        width: 200px;
        li {
            margin: 10px 18px !important;
        }
        a {
            font-size: 14px!important;
            &.tabmenu_heading {
                font-weight: 600;
            }
        }
    }
}

.tabcontent {
    display: none;
    flex-flow: wrap;
    margin: 10.5px 19.5px;
    width: 600px;
} 


// filter


.filtration {
    display: flex;
    align-items: center;
    margin: 35px 0 31px;
    .fitr_txt {
        font-size: 18px;
        font-weight: 500;
        margin-right: 17px;
    }
    #add_filter {
        padding: 6px 13px;
        border: 0;
        background: $primary_button;
        color: white;
        letter-spacing: 1.25px;
        font-size: 14px;
        border-radius: 4px;
    }
    .filtr_options, .all_filter_listing, .total_filter {
        display: flex;
        align-items: center;
    }
    .filteration_options {
        position: absolute;
        background: white;
        top: 26px;
        border: 0.5px solid black;
        padding: 12px 15px;
        width: 157px;
        left: 0;
        z-index: 999;
        color: black;
        font-weight: 400;
    }
    .all_filter_listing {
        &:before {
            content: "";
            padding: 20px 0.5px;
            background: $linecolor;
            margin: 0 20px;
        }
        .filter_elem {
            padding: 4px 7px;
            color: $primary_button;
            border: 1px solid $primary_button;
            border-radius: 4px;
            letter-spacing: 1.25px;
            font-size: 14px;
            font-weight: 600;
            margin-right: 13px;
            position: relative;
            .total_filter {
                margin: 0 9px;
                letter-spacing: 0px;
                color: #252525;
            }
            .filtr_options i.fas {
                color: #4D4D4D;
            }
        }
    }
}

// Results

.result_data {
    display: flex;
    justify-content: space-between;
    .results_count_elem, .clear_fitr_elem {
        display: flex;
    }
    .no_of_results {
        color: $resultscolor;
        font-weight: 500;
        &:after {
            content: "";
            padding: 4px 0.5px;
            background: $linecolor;
            margin: 0 9.5px;
            font-weight: 300;
        }
    }
    .result_source {
        color: $linecolor;
    }
    .clear_txt {
        letter-spacing: 1.25px;
        font-weight: 500;
        color: $primary_button;
        margin-right: 28px;
        padding: 4px 13px;
        font-size: 16px;
    }
    .clr_filtr_dropdown {
        margin-right: 19.5px;
        &:hover .drop_expand_menu {
            display: block;
        }
        .drop_expand_menu {
            display: none;        
        }
    }
    .clr_filtr_dropdown {
        padding: 4px 13px;
        font-size: 14px;
        color: $primarycolor;
        background: $secondarybg;
        border: 1px solid $borderprimarybg;
        border-radius: 4px;
        i.fas {
            margin-left: 10px;
        }
    }
}

.result_main_wrap {
    position: relative;
    .result_main_elem {
        overflow-x: scroll;
        overflow-y: visible;
        padding-left: 212px;
    }
    .result_elem {
        table-layout: fixed;
        width: 100%;
    }
    .table_heading_data_elem {
        &:after {
            content: "";
            background: $resultdataHeading;
            padding: 0.5px;
            display: block;
            margin: 0 0 0 -212px;
            position: absolute;
            width: 100%;
        }
    }        
    .table_heading_data {
        display: flex;
        margin: 21px 0;
        width: max-content;        
        div {
            display: flex;            
            color: $resultdataHeading;
            font-weight: 500;
            align-items: center;
            &:first-child {
                margin-top: -9px!important;
            }
        }
    }
    .filtr_icon {
        width: 20px;
    }
    .part_number {
        width: 215.5px;
        padding-left: 22.5px;
        &:first-child {
            position: absolute;
            left: 0;
            width: 212px;
            padding: 18px 0px 18px 25.5px;
            margin-top: -17px;
            background: #fff;
        }
    } 
    .SKU {
        width: 126.5px;
    }
    .device_type {
        width: 165px;
    }
    .manufacturer {
        width: 161px;
    }
    .rev {
        width: 86px;
    }
    .rev_date {
        width: 107px;
    }
    .lot_code {
        width: 112px;
    }
    .capacitance {
        width: 162px;
    }
    .rated_voltage {
        width: 161px;
    }
    .positive_tolerance {
        width: 142px;
    }
    .negative_tolerance {
        width: 122px;
    }
    .radiation_test {
        width: 162px;
    }
    .test_category {
        width: 165px;
    }
    .source {
        width: 102px;
    }
    .test_date {
        width: 117px;
    }
    .test_details {
        width: 125px;
    } 
    .result {
        width: 108px;
    }
    .documents {
        width: 160px;
    }
    .facilties {
        width: 123px;
    }
    .acc_heading {
        padding: 21px 0;
        margin-left: -212px;
        // position: absolute;
        &.active {
            position: absolute;
            left: 0;
            width: 100%;
            z-index: 999;
            margin-left: 0px;
        }
        .acc_head {
            display: flex;
            align-items: baseline;
            position: relative;
            padding-left: 21.5px;
            color: $accordionheadingcolor;
            font-weight: 500;
            .acc_content_head_wrap {
                text-decoration: underline;
            }
            .fa-chevron-down {
                color: $arrow_color;
                position: absolute;
                left: 0;
                transform: rotate(-90deg);
                transition: 0.3s ease all;
            }
            span {
                font-weight: 400;
            }
            .radiation_test_detail {
                color: $resultscolor;
                font-family: Open Sans;
                font-size: 12px;
                font-weight: 400;
                margin-left: 4px;
            }
            .ratings {
                i.fas {
                    color: $noratingcolor;
                    font-size: 14px;
                }
                i.fas.active {
                    color: $ratingcolor;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: $ratingbordercolor;
                }
            }
            .more_review_info {
                font-family: Open Sans;
                font-size: 12px;
                color: $primarybg;
                &.no_of_reviews {
                    margin-left: 13px;
                }
                &.latest_viewed {
                    margin-left: 21px;
                }
            }
        }
        &.active .fa-chevron-down {
            transform: rotate(0deg);
        }
    }
    .acc_content {
        display: none;
        padding-top: 80px;
        &:before, &:after {
            content: "";
            background: $accordionborder;
            padding: 0.5px 0;
            display: flex;
            margin-left: -212px;
        }
        .row_content {
            display: flex;
            font-size: 14px;
            color: $arrow_color;
            padding: 17px 0;
            width: max-content;
            .part_number {
                color: $accordionheadingcolor;
                text-decoration: underline;
                font-weight: 400;
                padding-left: 10px;
            }
            &:nth-child(even) {
                background: $accordion_content;
                .part_number {
                    background: $accordion_content;
                }
            }
            .updated {
                font-family: Open Sans;
                font-weight: 600;
            }
        }
    }
}


// filter

.filtr_remove {
    position: relative;
}

.filtration {
    .add_filters {
        .add_filter_wrap {
            display: none;
        } 
        &:hover {
            .add_filter_wrap {
                display: block;
            }
        }
    }
}
.drop_expand_menu {
    position: absolute;
    background: #fff;
    box-shadow: 0 3px 6px #00000029;
    padding: 9.5px 8px;
    right: -13px;
    top: 5px;
    width: 248px;
    z-index: 999;
    max-height: 492px;
    overflow-y: scroll;
    z-index: 9999;
    &.add_filter_wrap {
        z-index: 9999;
        left: -12px;
        text-align: left;
        color: $primarycolor;
    }
}
.search_dropdown_filter {
    display: flex;
    position: relative;
    margin-bottom: 9px;
    i.fas {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    input {
        font-size: 14px;
        color: #00000066;
        padding: 5px 16px;
        border: 1px solid black;
        width: 100%;
        border-radius: 2px;
        font-family: 'Roboto';
    }
}

.filtr_heading {
    margin-bottom: 4px;
    font-size: 12px;
    img {
        width: 9px;
    }
}

.dropdown_accordion {
    margin-top: 10px;
    .dropdown_acc_head {
        font-size: 12px;
        font-weight: 500;
        color: $dropdowntext;
        &:after {
            content: "";
            background: $dropdowntext;
            padding: 0.5px 0;
            display: flex;
            margin: 4px 0 9px;
        }
        i.fas {
            margin-left: 0;
            margin-right: 9px;
        }
    }
    .dropdown_acc_content {
        font-size: 14px;
        font-weight: 300;
        color: $dropdowntext;
        margin-bottom: 28px;
        &:last-child {
            margin-bottom: 0;    
        }
        .filtr_wrap {
            margin-bottom: 9px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// scroller

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 6px;
    margin-top: 10px;
    background: $accordion_content;
}

/* Track */
::-webkit-scrollbar-track {
    margin: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary_button; 
    border-radius: 5px;
    margin-top: 10px;
}
