@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Roboto;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background: #003D8B;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 18px 14px;
}

.logo {
  padding: 0 50px 0 25px;
  position: relative;
}

.logo img {
  width: 112px;
}

.logo::after {
  content: "";
  background: #fff;
  padding-left: 1px;
  position: absolute;
  right: 0;
  height: 100%;
}

.dropdown_elem {
  z-index: 999;
}

.search_area {
  margin-left: 130px;
}

.search_area .form_elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 870px;
  position: relative;
  border: 1px solid #CACACA;
  border-radius: 4px;
  background: #fff;
}

.search_area .form_elem .search_select {
  position: relative;
  font-size: 16px;
  padding: 12px 37px 12px 19px;
  background: #F4F4F4;
  border-radius: 4px;
  border: 1px solid #CACACA;
  color: #666666;
}

.search_area .form_elem .search_select i.fas {
  position: absolute;
  right: 7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.search_area .form_elem .search_select:hover .dropdown_elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search_area .form_elem input {
  width: 700px;
  padding: 11px 37px 11px 19px;
  border: 0;
  outline: none;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Roboto';
}

.search_area .form_elem #search {
  background: transparent;
  border: 0;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.search_area .form_elem #search i.fas {
  font-size: 25px;
  color: #9A9A9A;
}

nav.navbar {
  width: 100%;
  margin-right: 27.5px;
}

nav.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

nav.navbar ul li {
  margin-left: 32px;
}

nav.navbar ul li a {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

.profile_element {
  padding-left: 32.5px;
  position: relative;
}

.profile_element::before {
  content: "";
  background: #fff;
  padding-left: 1px;
  position: absolute;
  left: 0;
  height: 100%;
}

.profile_element .profile_image {
  width: 100%;
  text-align: center;
}

.profile_element .profile_image img {
  width: 30px;
}

.profile_element .profile_name {
  font-size: 12px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  color: #CDD0D9;
}

main {
  margin: 26px;
}

.breadcrum_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrum_wrap li {
  margin: 0 24px 0 19px;
  position: relative;
}

.breadcrum_wrap li:hover .dropdown_elem {
  display: block;
}

.breadcrum_wrap li:first-child {
  margin-left: 0;
}

.breadcrum_wrap a {
  color: #295B97;
  text-decoration: underline;
  font-size: 20px;
}

.breadcrum_wrap i {
  color: #C2C2C2;
  padding-left: 9px;
}

.dropdown_wrap .dropdown_elem {
  left: -3px;
}

.dropdown_wrap .dropdown_elem .dropdown {
  width: auto;
  left: 0;
}

.dropdown_wrap .dropdown_elem .dropdown .tablinks {
  padding: 12px 40px 12px 28px;
  text-align: left;
}

.dropdown_wrap .dropdown_elem .dropdown .tabcontent {
  overflow-y: auto;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
}

.dropdown_elem {
  position: absolute;
  display: none;
  width: 900px;
  height: 530px;
  z-index: 9999;
}

.dropdown_elem .dropdown {
  background: white;
  -webkit-box-shadow: 0 0 8px #00000024;
          box-shadow: 0 0 8px #00000024;
  position: absolute;
  width: 900px;
  left: 90px;
  top: 10px;
  height: 530px;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown_elem .dropdown li {
  margin: 16px 71.5px 16px 33.5px;
}

.dropdown_elem .dropdown a {
  position: relative;
  color: #000;
  text-decoration: none;
}

.dropdown_elem .dropdown .inner_dropdown {
  position: absolute;
  left: 100%;
}

.tab {
  width: 250px;
  overflow-x: hidden;
  overflow-y: scroll !important;
  padding: 4px 0;
}

.tab .tablinks {
  width: 100%;
  background: transparent;
  border: 0;
  padding: 12px 71.5px 12px 33.5px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto';
}

.tab .tablinks.main_wrap {
  background: #BDCDE1;
}

.tab .tablinks.active {
  background: #BDCDE1;
}

.menu_wrap ul {
  width: 200px;
}

.menu_wrap ul li {
  margin: 10px 18px !important;
}

.menu_wrap ul a {
  font-size: 14px !important;
}

.menu_wrap ul a.tabmenu_heading {
  font-weight: 600;
}

.tabcontent {
  display: none;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin: 10.5px 19.5px;
  width: 600px;
}

.filtration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 35px 0 31px;
}

.filtration .range_value_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filtration .range_value_wrap input {
  width: 100px;
  margin-top: 40px;
}

.filtration .fitr_txt {
  font-size: 18px;
  font-weight: 500;
  margin-right: 17px;
}

.filtration #add_filter {
  padding: 6px 13px;
  border: 0;
  background: #21428A;
  color: white;
  letter-spacing: 1.25px;
  font-size: 14px;
  border-radius: 4px;
}

.filtration .filtr_options, .filtration .all_filter_listing, .filtration .total_filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filtration .filteration_options {
  position: absolute;
  background: #fff;
  top: 24px;
  width: 157px;
  left: 0;
  z-index: 999;
  color: #000;
  font-weight: 400;
  -webkit-box-shadow: 0 3px 6px #00000029;
          box-shadow: 0 3px 6px #00000029;
  padding: 9.5px 8px;
  display: none;
}

.filtration div {
  margin-bottom: 4px;
  font-size: 12px;
}

.filtration .filtr_options, .filtration .add_filter_elem {
  margin-bottom: 0;
}

.filtration .select_none {
  margin-bottom: 11px;
}

.filtration .select_none:after {
  content: "";
  background: #68686A;
  padding: 0.5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4px 0 9px;
}

.filtration .filtr_element_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filtration .filtr_element_wrap label {
  margin-left: 5px;
}

.all_filter_listing:before {
  content: "";
  padding: 20px 0.5px;
  background: #707070;
  margin: 0 20px;
}

.all_filter_listing .filter_elem {
  padding: 4px 7px;
  color: #21428A;
  border: 1px solid #21428A;
  border-radius: 4px;
  letter-spacing: 1.25px;
  font-size: 14px;
  font-weight: 600;
  margin-right: 13px;
  position: relative;
}

.all_filter_listing .filter_elem:hover .filteration_options {
  display: block;
}

.all_filter_listing .filter_elem .total_filter {
  margin: 0 9px;
  letter-spacing: 0px;
  color: #252525;
}

.all_filter_listing .filter_elem .filtr_options i.fas {
  color: #4D4D4D;
}

.all_filter_listing .filter_elem .filteration_options {
  padding: 18px;
  width: 350px;
}

.all_filter_listing .filter_elem .filteration_options .ui-state-default, .all_filter_listing .filter_elem .filteration_options .ui-widget-content .ui-state-default {
  background: #305595 !important;
  border-radius: 100%;
  -webkit-box-shadow: 1px 1px 0 0 #00000052;
          box-shadow: 1px 1px 0 0 #00000052;
  border: 0 !important;
}

.all_filter_listing .filter_elem .filteration_options .slider_value {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: -6px;
  top: 5px;
}

.all_filter_listing .filter_elem .filteration_options .slider_value div {
  position: absolute;
  top: 12px;
}

.all_filter_listing .filter_elem .filteration_options .slider_value div:before {
  content: "";
  background: #000;
  padding: 3px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1px;
  position: relative;
  left: 7px;
}

.all_filter_listing .filter_elem .filteration_options .slider_value div:nth-child(1) {
  left: 0;
}

.all_filter_listing .filter_elem .filteration_options .slider_value div:nth-child(2) {
  left: 8.33333%;
}

.all_filter_listing .filter_elem .filteration_options .slider_value div:nth-child(3) {
  left: 16.6667%;
}

.all_filter_listing .filter_elem .filteration_options .slider_value div:nth-child(4) {
  left: 25%;
}

.all_filter_listing .filter_elem .filteration_options .slider_value div:nth-child(5) {
  left: 33.3333%;
}

.all_filter_listing .filter_elem .filteration_options .slider_value div:nth-child(6) {
  left: 41.6667%;
}

.all_filter_listing .filter_elem .filteration_options .slider_value div:nth-child(7) {
  left: 50%;
}

.all_filter_listing .filter_elem .filteration_options .slider_value div:nth-child(8) {
  left: 58.3333%;
}

.all_filter_listing .filter_elem .filteration_options .slider_value div:nth-child(9) {
  left: 66.6667%;
}

.all_filter_listing .filter_elem .filteration_options .slider_value div:nth-child(10) {
  left: 75%;
}

.all_filter_listing .filter_elem .filteration_options .slider_value div:nth-child(11) {
  left: 83.3333%;
}

.all_filter_listing .filter_elem .filteration_options .slider_value div:nth-child(12) {
  left: 91.6667%;
}

.all_filter_listing .filter_elem .filteration_options .slider_value div:nth-child(13) {
  left: 100%;
}

.all_filter_listing .filter_elem .filteration_options .slider_value .ui-slider-range.ui-corner-all.ui-widget-header {
  background: #769ec5;
  font-size: 18px;
}

.all_filter_listing .filter_elem .filteration_options .slider_value .range_value_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.all_filter_listing .filter_elem .filteration_options .slider_value .range_value_wrap input {
  width: 70px;
  padding: 10px 10px;
  border-radius: 6px;
  border: 1px solid;
  margin-top: 28px;
}

.result_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.result_data .results_count_elem, .result_data .clear_fitr_elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.result_data .no_of_results {
  color: #565656;
  font-weight: 500;
}

.result_data .no_of_results:after {
  content: "";
  padding: 4px 0.5px;
  background: #707070;
  margin: 0 9.5px;
  font-weight: 300;
}

.result_data .result_source {
  color: #707070;
}

.result_data .clear_txt {
  letter-spacing: 1.25px;
  font-weight: 500;
  color: #21428A;
  margin-right: 28px;
  padding: 4px 13px;
  font-size: 16px;
}

.result_data .clr_filtr_dropdown {
  margin-right: 19.5px;
}

.result_data .clr_filtr_dropdown:hover .drop_expand_menu {
  display: block;
}

.result_data .clr_filtr_dropdown .drop_expand_menu {
  display: none;
}

.result_data .clr_filtr_dropdown {
  padding: 4px 13px;
  font-size: 14px;
  color: #666666;
  background: #F4F4F4;
  border: 1px solid #CACACA;
  border-radius: 4px;
}

.result_data .clr_filtr_dropdown i.fas {
  margin-left: 10px;
}

.result_main_wrap {
  position: relative;
}

.result_main_wrap .result_main_elem {
  overflow-x: scroll;
  overflow-y: visible;
  padding-left: 212px;
}

.result_main_wrap .result_elem {
  table-layout: fixed;
  width: 100%;
}

.result_main_wrap .table_heading_data_elem:after {
  content: "";
  background: #17185A;
  padding: 0.5px;
  display: block;
  margin: 0 0 0 -212px;
  position: absolute;
  width: 100%;
}

.result_main_wrap .table_heading_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 21px 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.result_main_wrap .table_heading_data div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #17185A;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result_main_wrap .table_heading_data div:first-child {
  margin-top: -9px !important;
}

.result_main_wrap .filtr_icon {
  width: 20px;
}

.result_main_wrap .part_number {
  width: 215.5px;
  padding-left: 22.5px;
}

.result_main_wrap .part_number:first-child {
  position: absolute;
  left: 0;
  width: 212px;
  padding: 18px 0px 18px 25.5px;
  margin-top: -17px;
  background: #fff;
}

.result_main_wrap .SKU {
  width: 126.5px;
}

.result_main_wrap .device_type {
  width: 165px;
}

.result_main_wrap .manufacturer {
  width: 161px;
}

.result_main_wrap .rev {
  width: 86px;
}

.result_main_wrap .rev_date {
  width: 107px;
}

.result_main_wrap .lot_code {
  width: 112px;
}

.result_main_wrap .capacitance {
  width: 162px;
}

.result_main_wrap .rated_voltage {
  width: 161px;
}

.result_main_wrap .positive_tolerance {
  width: 142px;
}

.result_main_wrap .negative_tolerance {
  width: 122px;
}

.result_main_wrap .radiation_test {
  width: 162px;
}

.result_main_wrap .test_category {
  width: 165px;
}

.result_main_wrap .source {
  width: 102px;
}

.result_main_wrap .test_date {
  width: 117px;
}

.result_main_wrap .test_details {
  width: 125px;
}

.result_main_wrap .result {
  width: 108px;
}

.result_main_wrap .documents {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result_main_wrap .documents i.fas {
  margin-left: 10px;
}

.result_main_wrap .documents .pdf_icon {
  width: 18px;
  margin-right: 10px;
}

.result_main_wrap .documents .files {
  position: relative;
  color: #21428A;
  font-weight: 700;
}

.result_main_wrap .documents .files:hover .href_wrap, .result_main_wrap .documents .files:focus .href_wrap {
  display: -ms-grid;
  display: grid;
}

.result_main_wrap .documents .href_wrap {
  position: absolute;
  display: none;
  background: #fff;
  padding: 10px;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 10px #00000017;
          box-shadow: 0px 0px 10px #00000017;
  border-radius: 6px;
}

.result_main_wrap .documents .href_wrap a {
  padding: 5px;
  border-bottom: 1px solid black;
}

.result_main_wrap .documents .href_wrap a:last-child {
  border-bottom: 0px solid black;
}

.result_main_wrap .facilties {
  width: 150px;
}

.result_main_wrap .acc_heading {
  padding: 21px 0;
  margin-left: -212px;
  position: absolute;
  width: 100%;
}

.result_main_wrap .acc_heading ~ .acc_heading_fix {
  padding-top: 80px;
}

.result_main_wrap .acc_heading.active {
  left: 0;
  width: 100%;
  z-index: 998;
  margin-left: 0px;
}

.result_main_wrap .acc_heading.active ~ .acc_heading_fix {
  padding-top: 0;
}

.result_main_wrap .acc_heading .acc_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
  padding-left: 21.5px;
  color: #171B5C;
  font-weight: 500;
}

.result_main_wrap .acc_heading .acc_head .acc_content_head_wrap {
  text-decoration: underline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.result_main_wrap .acc_heading .acc_head .fa-chevron-down {
  color: #5B5B5B;
  position: absolute;
  left: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.result_main_wrap .acc_heading .acc_head span {
  font-weight: 400;
}

.result_main_wrap .acc_heading .acc_head .radiation_test_detail {
  color: #565656;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  margin-left: 4px;
}

.result_main_wrap .acc_heading .acc_head .ratings i.fas {
  color: #D9D9D9;
  font-size: 14px;
  margin-right: 3px;
}

.result_main_wrap .acc_heading .acc_head .ratings i.fas.active {
  color: #FFE622;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #DEC60A;
}

.result_main_wrap .acc_heading .acc_head .more_review_info {
  font-family: Open Sans;
  font-size: 12px;
  color: #003D8B;
}

.result_main_wrap .acc_heading .acc_head .more_review_info.no_of_reviews {
  margin-left: 13px;
}

.result_main_wrap .acc_heading .acc_head .more_review_info.latest_viewed {
  margin-left: 21px;
}

.result_main_wrap .acc_heading.active .fa-chevron-down {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.result_main_wrap .acc_content {
  display: none;
  padding-top: 80px;
}

.result_main_wrap .acc_content:before, .result_main_wrap .acc_content:after {
  content: "";
  background: #F1F2F6;
  padding: 0.5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -212px;
}

.result_main_wrap .acc_content .row_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  color: #5B5B5B;
  padding: 17px 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.result_main_wrap .acc_content .row_content .part_number {
  color: #171B5C;
  text-decoration: underline;
  font-weight: 400;
  padding-left: 10px;
}

.result_main_wrap .acc_content .row_content:nth-child(even) {
  background: #F1F2F6;
}

.result_main_wrap .acc_content .row_content:nth-child(even) .part_number {
  background: #F1F2F6;
}

.result_main_wrap .acc_content .row_content .updated {
  font-family: Open Sans;
  font-weight: 600;
}

.result_main_wrap .acc_content .row_content .testFacility {
  width: 150px;
}

.filter_remove {
  position: relative;
}

.filtration .add_filters .add_filter_wrap {
  display: none;
}

.filtration .add_filters:hover .add_filter_wrap {
  display: block;
}

.drop_expand_menu {
  position: absolute;
  background: #fff;
  -webkit-box-shadow: 0 3px 6px #00000029;
          box-shadow: 0 3px 6px #00000029;
  padding: 9.5px 8px;
  right: -13px;
  top: 5px;
  width: 248px;
  z-index: 999;
  max-height: 492px;
  overflow-y: scroll;
  z-index: 9999;
}

.drop_expand_menu.add_filter_wrap {
  z-index: 9999;
  left: -12px;
  text-align: left;
  color: #666666;
}

.search_dropdown_filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 9px;
}

.search_dropdown_filter i.fas {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.search_dropdown_filter input {
  font-size: 14px;
  color: #00000066;
  padding: 5px 16px;
  border: 1px solid black;
  width: 100%;
  border-radius: 2px;
  font-family: 'Roboto';
}

.filtr_heading {
  margin-bottom: 4px;
  font-size: 12px;
}

.filtr_heading img {
  width: 9px;
}

.dropdown_accordion {
  margin-top: 10px;
}

.dropdown_accordion .dropdown_acc_head {
  font-size: 12px;
  font-weight: 500;
  color: #68686A;
}

.dropdown_accordion .dropdown_acc_head:after {
  content: "";
  background: #68686A;
  padding: 0.5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4px 0 9px;
}

.dropdown_accordion .dropdown_acc_head i.fas {
  margin-left: 0;
  margin-right: 9px;
}

.dropdown_accordion .dropdown_acc_content {
  font-size: 14px;
  font-weight: 300;
  color: #68686A;
  margin-bottom: 28px;
}

.dropdown_accordion .dropdown_acc_content:last-child {
  margin-bottom: 0;
}

.dropdown_accordion .dropdown_acc_content .filtr_wrap {
  margin-bottom: 9px;
}

.dropdown_accordion .dropdown_acc_content .filtr_wrap:last-child {
  margin-bottom: 0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
  margin-top: 10px;
  background: #F1F2F6;
}

/* Track */
::-webkit-scrollbar-track {
  margin: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #21428A;
  border-radius: 5px;
  margin-top: 10px;
}
/*# sourceMappingURL=Style.css.map */