@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Roboto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background: #003D8B;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 17px 18px 14px;
}

.logo {
  padding: 0 50px 0 25px;
  position: relative;
}

.logo img {
  width: 112px;
}

.logo::after {
  content: "";
  background: #fff;
  padding-left: 1px;
  position: absolute;
  right: 0;
  height: 100%;
}

.search_area {
  margin-left: 130px;
}

.search_area form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 870px;
  position: relative;
  border: 1px solid #CACACA;
  border-radius: 4px;
  background: #fff;
}

.search_area form .search_select {
  position: relative;
}

.search_area form .search_select select {
  font-size: 16px;
  padding: 12px 37px 12px 19px;
  background: #F4F4F4;
  border-radius: 4px;
  border: 1px solid #CACACA;
  color: primarycolor;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.search_area form .search_select select::-ms-expand {
  display: none;
}

.search_area form .search_select i.fas {
  position: absolute;
  right: 7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.search_area form input {
  width: 870px;
  padding: 12px 37px 12px 19px;
  border: 0;
  outline: none;
}

.search_area form #search {
  background: transparent;
  border: 0;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.search_area form #search i.fas {
  font-size: 25px;
  color: #9A9A9A;
}

nav.navbar {
  width: 100%;
  margin-right: 27.5px;
}

nav.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

nav.navbar ul li {
  margin-left: 32px;
}

nav.navbar ul li a {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

.profile_element {
  padding-left: 32.5px;
  position: relative;
}

.profile_element::before {
  content: "";
  background: #fff;
  padding-left: 1px;
  position: absolute;
  left: 0;
  height: 100%;
}

.profile_element .profile_image {
  width: 100%;
  text-align: center;
}

.profile_element .profile_image img {
  width: 30px;
}

.profile_element .profile_name {
  font-size: 12px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  color: #fff;
}

main {
  margin: 26px;
}

.breadcrum_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrum_wrap li {
  margin: 0 24px 0 19px;
  position: relative;
}

.breadcrum_wrap li:hover .dropdown_elem {
  display: block;
}

.breadcrum_wrap li:first-child {
  margin-left: 0;
}

.breadcrum_wrap a {
  color: #295B97;
  text-decoration: underline;
  font-size: 20px;
}

.breadcrum_wrap i {
  color: #C2C2C2;
  padding-left: 9px;
}

.dropdown_elem {
  position: absolute;
  display: none;
  width: 900px;
  height: 450px;
}

.dropdown_elem .dropdown {
  background: white;
  -webkit-box-shadow: 0 0 8px #00000024;
          box-shadow: 0 0 8px #00000024;
  position: absolute;
  width: 900px;
  left: 90px;
  top: 10px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown_elem .dropdown li {
  margin: 16px 71.5px 16px 33.5px;
}

.dropdown_elem .dropdown a {
  position: relative;
  color: #000;
  text-decoration: none;
}

.dropdown_elem .dropdown .inner_dropdown {
  position: absolute;
  left: 100%;
}

.tab {
  width: 250px;
  overflow-x: hidden;
  overflow-y: scroll !important;
  padding: 4px 0;
}

.tab .tablinks {
  width: 100%;
  background: transparent;
  border: 0;
  padding: 12px 71.5px 12px 33.5px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto';
}

.tab .tablinks.active {
  background: #BDCDE1;
}

.menu_wrap ul {
  width: 200px;
}

.menu_wrap ul li {
  margin: 10px 18px !important;
}

.menu_wrap ul a {
  font-size: 14px !important;
}

.menu_wrap ul a.tabmenu_heading {
  font-weight: 600;
}

.tabcontent {
  display: none;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin: 10.5px 19.5px;
  width: 600px;
}

.filteration_options {
  display: none;
}

.filtration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 35px 0 31px;
}

.filtration .fitr_txt {
  font-size: 18px;
  font-weight: 500;
  margin-right: 17px;
}

.filtration #add_filter {
  padding: 6px 13px;
  border: 0;
  background: #21428A;
  color: white;
  letter-spacing: 1.25px;
  font-size: 14px;
  border-radius: 4px;
}

.filtration .filtr_options, .filtration .all_filter_listing, .filtration .total_filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filtration .all_filter_listing:before {
  content: "";
  padding: 20px 0.5px;
  background: #707070;
  margin: 0 20px;
}

.filtration .all_filter_listing .filter_elem {
  padding: 4px 7px;
  color: #21428A;
  border: 1px solid #21428A;
  border-radius: 4px;
  letter-spacing: 1.25px;
  font-size: 14px;
  font-weight: 600;
  margin-right: 13px;
}

.filtration .all_filter_listing .filter_elem .total_filter {
  margin: 0 9px;
  letter-spacing: 0px;
  color: #252525;
}

.filtration .all_filter_listing .filter_elem .filtr_options i.fas {
  color: #4D4D4D;
}

.result_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.result_data .results_count_elem, .result_data .clear_fitr_elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accordion_elem input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.acc_col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.acc_col:last-child {
  margin-left: 1em;
}

/* Accordion styles */
.acc_tabs {
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.acc_tab {
  width: 100%;
  color: #000;
  overflow: hidden;
}

.acc_tab-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
  background: red;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}

.acc_tab-label:hover {
  background: #cc0000;
}

.acc_tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.acc_tab-content {
  max-height: 0;
  padding: 0 1em;
  color: red;
  background: white;
  -webkit-transition: all .35s;
  transition: all .35s;
}

input:checked + .acc_tab-label {
  background: #cc0000;
}

input:checked + .acc_tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

input:checked ~ .acc_tab-content {
  max-height: 100vh;
  padding: 1em;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  margin-top: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  margin: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #21428A;
  border-radius: 5px;
  margin-top: 10px;
}
/*# sourceMappingURL=Style.css.map */